@use './initial' as *;

.section {
    flex-grow: 1;

    h1 {
        text-align: center;
        margin-bottom: 50px;
        font-size: 40px;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        padding-top: 10px;
        padding-bottom: 10px;
        // margin-bottom: 10px;
        width: 100%;
        background-color: var(--bg);
        position: sticky;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;

        .form-input {
            flex-grow: 1;
            width: 100%;
            &::placeholder {
                transition: all .3s;
            }
            &:focus::placeholder {
                opacity: 0.5;
            }
        }

        .form-btn {
            min-width: 71px;
        }
    }



    .items {
        &__wrapper {
            padding-bottom: 0;

            /* Styling the track (background of the scrollbar) */
            &::-webkit-scrollbar {
                width: 5px;
                /* Scrollbar width */
            }
            
            /* Styling the handle (the draggable part of the scrollbar) */
            &::-webkit-scrollbar-thumb {
                background-color: grey;
                /* Thumb color */
                border-radius: 0px;
                /* Optional, to make it rounded */
            }
            
            /* Styling the track (area where the scrollbar moves) */
            &::-webkit-scrollbar-track {
                background-color: #000;
                /* Track color */
                border-radius: 10px;
                /* Optional, to make it rounded */
            }

            scrollbar-width: thin;
            scrollbar-color: black grey;
            /* thumb color and track color */
        }

        .filter {
            margin-bottom: 50px;
            .filter-input {
                width: 100%;
            }
        }

        &__title {
            text-align: left;
            margin-bottom: 20px;
            font-size: 20px;
        }










        .item {

            &[data-finished="true"] {
                .item__name span {
                    text-decoration: line-through;
                }
            }
            &[data-finished="false"] {
                .item__name span {
                    text-decoration: none;
                }
            }

            &__number {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 16.5px;
                min-width: 16.5px;
                // min-width: 25.5px;
            }



            &__name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                span {
                    font-style: initial !important;
                    opacity: 1 !important;
                }
            }

            &__name, &__priority, &__deadline, &__has-subtasks, &__is-completed, &__category {
                // min-width: 145px;
                // max-width: 145px;
                flex-grow: 0; /* Allow the element to grow */
                flex-shrink: 1; /* Allow it to shrink */
                flex-basis: 145px; /* Set the initial size (the starting point before growing or shrinking) */
                min-width: 145px; /* Prevent the element from shrinking below 100px */
                overflow: hidden;
                text-overflow: ellipsis;
                @media (min-width: 1500px){
                    flex-grow: 1;
                }
                @media (max-width: 1500px){
                    max-width: 145px;
                }
            }
            &__date {
                // min-width: 155px;
                // max-width: 155px;
                flex-grow: 0; 
                flex-shrink: 1; 
                flex-basis: 155px; 
                min-width: 155px; 
                overflow: hidden;
                text-overflow: ellipsis;
                @media (min-width: 1500px){
                    flex-grow: 1;
                }
            }




            &[data-finished="true"] {
                .item__name {
                    text-decoration: line-through;
                    opacity: 0.5;
                }
            }
            &[data-finished="false"] {
                .item__name {
                    text-decoration: initial;
                    opacity: 1;
                }
            }

            .item__name.with-subtasks {
                text-decoration: underline;
                cursor: pointer;
            }
            
            &__holder {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 60px;
                margin-bottom: 3px;
                border-bottom: none;
                width: 100%;
            }
            &__wrapper {
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: auto;
                tr {
                    display: flex;
                    align-items: center;
                    column-gap: 33px;
                    // max-width: 1300px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                }
                td{
                    white-space: nowrap;
                    span:nth-child(1) {
                        font-style: italic;
                        opacity: 0.5;
                    }
                }
            }


            &__btns {
                display: flex;
                align-items: center;
                column-gap: 20px;
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 84px;
                min-width: 84px;
            }

            &__subtasks-holder {
                display: block;
                width: 100%;
                table, tbody {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                }
                tr{
                    width: 100%;
                }
            }

            &__holder {
                &:hover {
                    background-color: #222;
                }
            }
            



            &__subtask {
                justify-content: flex-start;
                &[data-finished="true"] {
                    .item__subtask-name{
                        text-decoration: line-through;
                        opacity: 0.5;
                    }
                }
                &[data-finished="false"] {
                    .item__subtask-name{
                        text-decoration: initial;
                        opacity: 1;
                    }
                }
                td span:nth-child(1) {
                    font-style: italic;
                    opacity: 0.5;
                }
                height: 21px;
                display: flex;
                align-items: center;
                column-gap: 33px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                margin-bottom: 3px;
                &:hover {
                    background-color: #222;
                }
                &-number {}
                &-name {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex-grow: 1;
                    flex-shrink: 0;
                    flex-basis: 130px;
                    max-width: 130px;
                }
                &-finished {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 122px;
                    min-width: 122px;
                    margin-right: auto;
                }
                &-btns {
                    display: flex;
                    align-items: center;
                    column-gap: 20px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    flex-basis: 84px;
                    min-width: 84px;
                    // @media (max-width: 1500px){
                        // transform: translateX(4px); // TO FIX
                    // }
                }
            }

        }

    }

}

