@use './initial' as *;

.section {
    flex-grow: 1;

    h1 {
        text-align: center;
        margin-bottom: 50px;
        font-size: 40px;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        margin-bottom: 10px;
        width: 100%;

        .form-input {
            flex-grow: 1;
            width: 100%;
            border-bottom: 1px solid var(--accent);
            &::placeholder {
                transition: all .3s;
            }
            &:focus::placeholder {
                opacity: 0.5;
            }
        }

        .form-btn {
            min-width: 71px;
        }
    }




    .items {
        // text-align: center;

        &__wrapper {
            padding-bottom: 0;

            /* Styling the track (background of the scrollbar) */
            &::-webkit-scrollbar {
                width: 5px;
                /* Scrollbar width */
            }
            
            /* Styling the handle (the draggable part of the scrollbar) */
            &::-webkit-scrollbar-thumb {
                background-color: grey;
                /* Thumb color */
                border-radius: 0px;
                /* Optional, to make it rounded */
            }
            
            /* Styling the track (area where the scrollbar moves) */
            &::-webkit-scrollbar-track {
                background-color: #000;
                /* Track color */
                border-radius: 10px;
                /* Optional, to make it rounded */
            }

            scrollbar-width: thin;
            scrollbar-color: black #grey;
            /* thumb color and track color */
        }

        .filter {
            margin-bottom: 50px;
            .filter-input {
                width: 100%;
            }
        }

        &__title {
            text-align: left;
            margin-bottom: 20px;
            font-size: 20px;
        }


        .item {
            // transition: all .2s;
            
            &__holder {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 30px;
                margin-bottom: 3px;
                border-bottom: none;
                width: 100%;
            }
            &__wrapper {
                flex-grow: 1;
                tbody {
                }
                tr {
                    display: flex;
                    align-items: center;
                    column-gap: 33px;
                    max-width: 1300px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                }
                td{
                    white-space: nowrap;
                    flex-shrink: 1;
                    flex-grow: 0;
                    &:nth-child(2) {
                        flex-shrink: 0;
                        text-align: left;
                        flex-basis: 135px;
                        max-width: 135px;
                        flex-grow: 1;
                    }
                    span {
                        font-style: italic;
                        opacity: 0.5;
                    }
                }
            }


            &__name {
                max-width: 615px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &__btns {
                display: flex;
                align-items: center;
                column-gap: 20px;
            }

            &__subtasks-holder {
                table {
                    display: block;
                    width: 100%;
                }
                tbody {
                    width: 100%;
                    display: block;
                }
                tr{
                    width: 100%;
                }
            }

            &__holder {
                &:hover {
                    background-color: #222;
                }
            }
            
            &__subtask {
                margin-right: auto;
                td:nth-child(3) {
                    flex-grow: 1;
                    flex-shrink: 0;
                    flex-grow: 100px;
                    max-width: 100px;
                }
                td span {
                    font-style: italic;
                    opacity: 0.5;
                }
                height: 21px;
                display: flex;
                align-items: center;
                column-gap: 33px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                margin-bottom: 3px;
                &:hover {
                    background-color: #222;
                }
                &-btns {
                    display: flex;
                    align-items: center;
                    column-gap: 15px;
                }
            }

        }

    }

}



.actions {
    position: absolute;
    bottom: 10px;
    left: 10px;

    .action-btn {
        padding: 0;
        border: none;
        opacity: 0.2;
        // transition: all .3s;
        &:hover {
            opacity: 1;
            background-color: transparent;
            color: var(--accent);
            box-shadow: none;
            text-decoration: underline;
        }
    }

}



.hidden {
    display: none !important;
}

.highlight {
    box-shadow: 0 0 10px var(--accent);
}

.system-message {
    display: block;
    width: 100%;
    span:nth-child(1) {
        opacity: 0.5;
    }
}

.input-box {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    span {
        font-weight: normal;
    }
}