@use './initial' as *;

.section {
flex-grow: 1;
    margin-top: 20px;

    h1 {
        text-align: center;
        margin-bottom: 50px;
        font-size: 40px;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        column-gap: 10px;
        text-align: center;
        margin-bottom: 70px;

        .form-input {
            flex-grow: 1;
        }

        .form-btn {
            min-width: 71px;
        }
    }




    .items {
        text-align: center;

        &__wrapper {
            max-height: 280px;
            margin-bottom: 20px;
            overflow-y: scroll;
            padding: 10px;
            padding-bottom: 0;

            /* Styling the track (background of the scrollbar) */
            &::-webkit-scrollbar {
                width: 5px;
                /* Scrollbar width */
            }
            
            /* Styling the handle (the draggable part of the scrollbar) */
            &::-webkit-scrollbar-thumb {
                background-color: grey;
                /* Thumb color */
                border-radius: 0px;
                /* Optional, to make it rounded */
            }
            
            /* Styling the track (area where the scrollbar moves) */
            &::-webkit-scrollbar-track {
                background-color: #000;
                /* Track color */
                border-radius: 10px;
                /* Optional, to make it rounded */
            }

            scrollbar-width: thin;
            scrollbar-color: black #grey;
            /* thumb color and track color */
        }

        .filter {
            margin-bottom: 50px;
            .filter-input {
                width: 100%;
            }
        }

        &__title {
            text-align: left;
            margin-bottom: 20px;
            font-size: 20px;
        }


        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 10px;
            border: 1px solid var(--accent);
            padding: 10px 15px;
            margin-bottom: 20px;
            transition: box-shadow .2s;
            // &:last-of-type {
            //     margin-bottom: 50px;
            // }
            &:hover {
                box-shadow: 0 0 10px var(--accent);
            }
            &__name {
                max-width: 615px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &__btns {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            &__btn {}

            &__btn--edit {}

            &__btn--remove {}
        }

        .clear-btn {}

    }

    input {
        min-height: 62px;
        padding-left: 15px;
        &::placeholder {
                transition: opacity .3s;
            }
        
            &:focus::placeholder {
                opacity: 0.3;
            }
    }

    button {
        &:focus {
                box-shadow: 0 0 10px var(--accent);
            }
    }
}



.actions {
    position: absolute;
    bottom: 10px;
    left: 10px;

    .action-btn {
        padding: 0;
        border: none;
        opacity: 0.2;
        transition: all .3s;
        &:hover {
            opacity: 1;
            background-color: transparent;
            color: var(--accent);
            box-shadow: none;
            text-decoration: underline;
        }
    }
    .change-ui-color-btn {}
}

.hidden {
    display: none !important;
}

.highlight {
    box-shadow: 0 0 10px var(--accent);
}